[general]
type = UWL

[input]
template_dir = /fred/oz005/vvenkatr/UWL_templates

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = pscrunch,t 320 f 8,t 64 f 16,t 8 f 32,tscrunch,fscrunch,saveall

[output]
output_root = /fred/oz005/users/vvenkatr/UWL_processed

[excise_level_1]
chan_threshold=7
subint_threshold=7

[excise_level_2]
chan_threshold=5
subint_threshold=5




[integrator]

psradd_flags = "-T "



