#######   CONFIG FILE  ##############


PSRPYPE_ROOT   <ROOT_OUTPUT_DIR> #/fred/oz005/users/vvenkatr/UWL/psrpype 
DM_LIST         /fred/oz005/users/vvenkatr/UWL/configs/dm.list
RM_LIST         /fred/oz005/users/vvenkatr/UWL/configs/rm.list
DECIMATION_LIST /fred/oz005/users/vvenkatr/UWL/configs/decimation.list


#SLURM INPUTS

N_SIMULTANEOUS_JOBS 		15            # Number if simultaneous jobs to run with job array  
PARTITION 		            skylake                
MAIL_USER 			        vkrishnan@mpifr-bonn.mpg.de    # EMAIL ID to send notification
MAIL_TYPE 			        ALL                  # Type of job status to send via EMAIL (e.g. ALL, FAIL, SUCCESS)



